@import "@react-aria/example-theme";

.react-aria-DateRangePicker {
  color: var(--text-color);
}

.react-aria-DateRangePicker .react-aria-Group {
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: 220px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  padding: 4px 4px 4px 8px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background: var(--field-background);
  white-space: nowrap;
}

.react-aria-DateRangePicker .react-aria-Group[data-pressed] {
  box-shadow: none;
  background: var(--highlight-background);
}

.react-aria-DateRangePicker .react-aria-Group[data-focus-within] {
  outline: 2px solid var(--focus-ring-color);
  outline-offset: -1px;
}

.react-aria-DateRangePicker [slot="start"] + span {
  padding: 0 4px;
}

.react-aria-DateRangePicker [slot="end"] {
  margin-right: 2rem;
  flex: 1;
}

.react-aria-DateRangePicker .react-aria-Button {
  background: var(--highlight-background);
  color: var(--highlight-foreground);
  border: 2px solid var(--field-background);
  forced-color-adjust: none;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  width: 1.429rem;
  height: 1.429rem;
  padding: 0;
  font-size: 0.857rem;
  box-sizing: content-box;
  flex-shrink: 0;
  position: sticky;
  right: 0;
}

.react-aria-DateRangePicker .react-aria-Button[data-focus-visible] {
  outline: 2px solid var(--focus-ring-color);
  outline-offset: 2px;
}

.react-aria-DateRangePicker .react-aria-DateInput {
  width: unset;
  min-width: unset;
  padding: unset;
  border: unset;
  outline: unset;
}

.react-aria-Popover[data-trigger="DateRangePicker"] {
  max-width: unset;
}
